<!-- 288, 290 -->
<%- include("partials/header") -%>
    <h1>Compose</h1>

    <!-- 288, 290 -->
    <form action="/compose" method="post">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input class="form-control" type="text" name="postTitle" id="">
            <label for="post">Post</label>
            <textarea class="form-control" name="post" id="" cols="30" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type="submit" name="" id="" value="Publish">Submit</button>
    </form>


    <!-- 280, 282 -->
    <%- include("partials/footer") -%>