<!-- 265, 266 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>

<body>
    <!-- 267 control flow -->
    <% if (day==="Weekend" ) {%>
        <h1 class="purple-txt"> It's a <%= day %>
        </h1>
        <% } else { %>
            <h1 class="grey-txt"> It's a <%= day %>
            </h1>
            <% } %>

                <div class="test">GHAAA</div>

</body>

</html>